*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #e2e2e2;
    position: relative;
}

.container {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}